<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="algorithm" value="BackPackOptimizer.Runtime.BpoBruteForce" />
    <add key="data-provider" value="DataProviders.CsvProvider.CsvMerchendiseProvider" />
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>